# 指定文件类型
*.txt     text                # 将扩展名为 .txt 的文件识别为文本文件
*.png     binary              # 将扩展名为 .png 的文件识别为二进制文件

# 设置换行符
*.txt     eol=lf              # 将 .txt 文件的换行符设置为 LF (Unix 样式换行符)
*.md      eol=crlf            # 将 .md 文件的换行符设置为 CRLF (Windows 样式换行符)

# 忽略文件或路径
build/    export-ignore       # 忽略 build/ 目录下的所有文件和子目录
*.log     gitignore           # 忽略所有 .log 文件

# 合并冲突解决策略
*.txt     merge=union         # 对于 .txt 文件的合并冲突，采用合并内容的并集策略
*.png     merge=binary        # 对于 .png 文件的合并冲突，采用二进制合并策略
