.output {
  width: 600px;
  min-height: 500px;
  background-color: rgba(51, 40, 40, 0.579);
  color: #fff;
  font-size: 14px;
  margin: 0 auto;
  padding: 20px;
  line-height: 20px;
  border-radius: 10px;
}
.output li {
  list-style-type: none;
}
