.log-detail-content {
    width: 80%;
    height: 100%;
    line-height: 25px;
    margin: 0 auto;
    max-height: 60%;
    overflow-y: scroll;
    background-color: #333;
    color: #fff;
    padding: 30px;
    box-sizing: border-box;
}
